<div class="container mt-5">
  <a class="h5" [routerLink]="['']">Home</a>
  <h5 class="mt-2"><small class="text-muted ">Add a new quotable author: </small></h5>
</div>
<div class="container">
  <form class="form-group" (submit)="addAuthor(newAuthor)">
    <label for="author">Name:</label>
    <input id="author" name="author" type="text" [(ngModel)]="newAuthor.author">
    <p class="alert-danger card border-danger w-auto" *ngIf="errors">{{errors.author.message}}</p>
    <div class="row">
      <button class="ml-2 btn btn-danger" (click)="goHome()">Cancel</button>
      <button class="ml-2 btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
