<div class="container mt-5">
<a class="h5" [routerLink]="['']">Home</a>
<h5 class="mt-2"><small class="text-muted ">Provide a quote by {{author.author}}: </small></h5>
</div>
<div class="container">
  <form class="form-group" (submit)="addQuote(quote)">
    <label for="quote">Quote:</label>
    <input id="quote" name="quote" type="text" [(ngModel)]="quote.quote" placeholder="Enter a quote">
    <p class="alert-danger card border-danger w-auto" *ngIf="errors">{{errors.message}}</p>
    <div class="row">
      <button class="ml-3 btn btn-danger" (click)="goBack()">Cancel</button>
      <button class="ml-3 btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>

